{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <form action="/" method="post">
        <div class="home">
        <!-- WTM? header -->
            <header>
                <h1 style="text-align:center;">WTM?</h1>
            </header>
        <!-- Image background -->
            <img alt="logo" class="dm-logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c9a27e0a-52f7-4cec-a932-b6246308a58e/dfnukjz-0f4dc473-62cc-473c-8ee8-e1a01f5787f6.png/v1/fill/w_894,h_894/shrug_emoji_by_j0j0999ozman_dfnukjz-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTIxNSIsInBhdGgiOiJcL2ZcL2M5YTI3ZTBhLTUyZjctNGNlYy1hOTMyLWI2MjQ2MzA4YTU4ZVwvZGZudWtqei0wZjRkYzQ3My02MmNjLTQ3M2MtOGVlOC1lMWEwMWY1Nzg3ZjYucG5nIiwid2lkdGgiOiI8PTEyMTUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ov_-92-zblWE_TpUPGmmN7GuoFgUhcnpPJcnWbaypFA">
        </div>
    </form>
    <hr>
<div><strong>Harron Lee c/o'27, Matthews Hall, Applied Mathematics</strong></div>
<div><strong>Seager Hunt c/o'27, Stoughton Hall, Applied Mathematics</strong></div>

{% endblock %}
